body {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  color: #333333;
  background-color: #efefef;
}

html, body, main, .tab-container, #results-page, #map-results, #map-display {
 height: 100%;
}

/* Header: logo */
.logo h1 {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  text-align: center;
  color: #efefef;
  text-shadow: 2px 2px 1px #e1a94c;
}

/* Header: main-nav */
.main-nav ul {
  list-style-type: none;
  background-color: rgba(255,255,255,.3);
}

.main-nav li {
  font-size: .75em;
  text-align: center;
  border-bottom: 1px solid #efefef;
}

a, a:link, a:active {
  color: #e1a94c;
  text-decoration: none;
}

a:hover, a:focus a:visited {
  color: #418259;
}

/* Main: landing-page */
.intro h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  text-align: center;
  color: #333333;
}

#question {
  color: #bd5632;
  font-size: .9em;
  text-align: center;
}

#pitch, #ipsum {
  font-size: .75em;
  text-align: left;
}

#submit-search {
  font-family: 'Lobster', cursive;
  text-align: center;
  background-color: #418259;
  border-radius: 10px;
  border: 1px solid #efefef;
}

/* Main: results-page */
#map-results {
  background-color: rgba(125, 108, 91, .05);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 3px;
}

#job-results {
 background-color: rgba(125, 108, 91, .05);
 border: 1px solid rgba(255, 255, 255, .5);
 border-radius: 3px;
}

#job-results h1, #map-results h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

/* Results-page: job listings */*/
#job-title {
 font-size: 1.25em;
 font-weight: 800;
}
#job-company {
 font-size: 1em;
 font-weight: lighter;
}
#job-snippet {
  font-size: 1.25em;
  font-weight: bolder;
}
#job-loc, #job-date {
  font-size: .75em;
  font-weight: lighter;
}

/* Footer */
footer p {
  text-align: center;
  font-family: 'Lobster', cursive;
}
