body {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  color: #333333;
  background-color: #efefef;
}

.background-image img {
  display: flex;
  width: 100%;
  height: 100%
}

/* Header container */
.main-header, .main-nav {
  position: absolute;
  display: block;
  margin: auto 0;
  width: 99%;
}

.logo img {
  display: block;
  width: 50px;
  margin: 0 auto;
}

.logo h1 {
  font-family: 'Lobster', cursive;
  font-size: 1em;
  text-align: center;
  color: #efefef;
  padding: 0px;
  margin: 0px;
}

/* Main nav */
.main-nav ul {
  display: block;
  list-style-type: none;
  padding: 0px;
}

.main-nav li {
  font-size: .5em;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #efefef;
  text-align: center;
}

a, a:link, a:active {
  text-decoration: none;
  color: #333333;
}

a:hover, a:focus {
  color: #e1a94c;
}

a:visited {
  color: #e1a94c;
}

/* Main content */
#landing-page {
  margin: 30px;
}

.intro-p {
  position: relative;
}

#question {
  color: #bd5632;
  font-size: 1em;
  text-align: center;
}

#pitch {
  font-size: .6em;
  text-align: left;
}

.search-filter {
  display: block;
  font-size: .5em;
}

#city-selector, #radius-selector, #biz-type-selector {
  display: inline-block;
  float: left;
  width: 70px;
  margin: 0px;
  padding: 0px;
}

#submit-search {
  width: 70px;
  margin: auto 0;
  display: block;
  float: right;
  clear: both;
}

/* Tab container */
.tab-container {

}

/* Footer */
footer p {
  display: block;
  clear: both;
  text-align: center;
  font-family: 'Lobster', cursive;
  padding: 2%;
  margin: 0 auto;
}

.template {
  display: none;
}
li {
  display: block;
}
