#map-results {
  background-color: rgba(125, 108, 91, .05);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 3px;
  height: 50%;
  width: 100%;

  display: inline-block;
  margin-bottom: 30px;
}
#job-results {
 background-color: rgba(125, 108, 91, .05);
 border: 1px solid rgba(255, 255, 255, .5);
 border-radius: 3px;
 display: inline-block;
 float: left;
 overflow-y: scroll;
 height: 50%;
 width: 100%;
}
#results-page {
  margin: 30px;
}
#job-results h1, #map-results h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
}
.results-title-hr {
  opacity: .3;
  width: 80%;
  margin-top: 30px;
}
