#container {
   min-height:100%;
   position:relative;
}

/* Header */
.main-header, .main-nav {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* Header: main-nav */
.main-nav ul {
  display: block;
  padding: 0;
  margin: 3% 0;
}

.main-nav li {
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Header: logo */
.logo h1 {
  margin: 0 auto;
}

.logo img {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding-top: 3%;
}

/* Main */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.background-image img {
  display: flex;
  width: 100%;
  height: 100%;
}

.template {
  display: none;
}

.tab-content {
  clear: both;
}

li {
  display: block;
}

/* Main: landing-page */
#landing-page {
  margin: 1%;
}

.intro {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}

.intro h1 {
  margin-top: 10%;
  margin-bottom: 0;
}

#question {
  margin-top: 1%;
  margin-bottom: 0;
}

#pitch {
  margin-top: 5%;
  margin-bottom: 0;
}

.intro-two {
  margin: 5%;
}

.search-filter {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 5%;
}

#city-selector, #radius-selector, #language-selector {
  width: 25%;
  margin: 3% 3%;
  text-align: center;

}

#submit-search {
  width: 100px;
  margin: 10px auto;
  display: block;
  margin-bottom: 5%;
}

/* Main: results-page */
#results-page {
  height: 100%;
  margin: 30px;
}

#map-results {
  display: block;
  margin-bottom: 30px;
}

#job-listings {
 display: inline-block;
 height: 605px;
 overflow-y: scroll;
}

#map-results ul, #job-results ul {
  padding-right: 30px;
}

.results-title-hr {
  opacity: .3;
  width: 80%;
  margin-top: 30px;
}

.straburst-image {
  width: 25px;
  margin-bottom: -3px;
  margin-right: 15px;
  margin-left: 12px;
}

hr {
  width: 80%;
  opacity: .3;
  margin-bottom: 0;
}

/* Company info & favorites tabs */
.favorites-info img, .company-info img {
  width: 100%;
  margin-top: 5%;
}
