#map-results {
  background-color: rgba(125, 108, 91, .05);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 3px;
  display: block;
  margin-bottom: 30px;

}
#job-results {
 background-color: rgba(125, 108, 91, .05);
 border: 1px solid rgba(255, 255, 255, .5);
 border-radius: 3px;
 display: block;
 overflow-y: scroll;
 height: 600px;

}
#map-results ul, #job-results ul {
  padding-right: 30px;
}
#results-page {
  margin: 30px;
}
#job-results h1, #map-results h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
}
.results-title-hr {
  opacity: .3;
  width: 80%;
  margin-top: 30px;
}
.straburst-image {
  width: 30px;
  margin-bottom: -7px;
  margin-right: 10px;
  margin-left: 8px;
}

/*jobs*/
#job-title {
 font-size: 1.25em;
 font-weight: 800;
}
#job-company {
 font-size: 1em;
 font-weight: lighter;
}
#job-snippet {
  font-size: 1.25em;
  font-weight: bolder;
}
#job-loc, #job-date {
  font-size: .75em;
  font-weight: lighter;
}

/*Media Queries foro Results Page*/
@media only screen and (min-width : 913px) {
  #map-results, #job-results {
    display: inline-block;
    float: left;
    margin-right: 30px;
  }
  }
  @media only screen and (min-width : 1000px) {
    #job-results, #map-results {
      width:1000px;
      margin: 0 auto;
      display: block;

    }
    }
