/* Media queries */

/* landing-page */
@media only screen and (min-width : 913px) {
  #map-results {
    display: inline-block;
    float: left;
    margin: 1%;
    width: 47%;
  }
  #job-results {
    display: inline-block;
    float: right;
    margin: 1%;
    width: 47%;
  }
}

/* results-page */
@media only screen and (min-width : 913px) {
  #map-results {
    display: inline-block;
    float: left;
    margin: 1%;
    width: 47%;
  }
  #job-results {
    display: inline-block;
    float: right;
    margin: 1%;
    width: 47%;
  }
}
