/* Media queries */
/*Media Queries for Results Page*/
@media only screen and (min-width : 913px) {
  #map-results {
    display: inline-block;
    float: left;
    margin: 1%;
    width: 47%;
  }
  #job-results {
    display: inline-block;
    float: right;
    margin: 1%;
    width: 47%;
  }
}

/*@media only screen and (min-width : 1000px) {
  #job-results, #map-results {
    width:1000px;
    margin: 0 auto;
    display: block;
  }
}*/

/*Tablets, desktops, laptops */
/*@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  .main-nav ul {
    display: block;
    padding: 0px 5px 0px 5px;
    list-style: none;
    clear: both;
  }
  .main-nav li {
    margin-right: 5px;
    font-size: 25px;
    padding: 5px;
    border-bottom: 1px solid #efefef;
  }
}*/

 /*Tablets, desktops, laptops */
/*@media only screen and (min-device-width : 736px) {
  .hamburger img {
    display: none;
  }
}*/
